.container-item-card {
    margin-top: 50px;
    border-radius: 100px;
    border: solid 5px #5A0C26;
    width: 600px;
    height: 600px;
    background-color: #C7E5D7;
    box-shadow: 8px 4px 12px #1A535C;
    align-items: center;
    padding: 20px;
}

.label-item-card {
    font-weight: 300;
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: #5A0C26;
    
}
