/*
Cores
#470077
#ED7F02
#515052
#000000
#FAF3DD
https://coolors.co/faf3dd-000000-515052-ed7f02-470077
*/

/* Divisões de conteúdo */

body {
    margin: 0
}

.bar {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #470077;
    color: white;
    font-weight: 600;
    overflow: hidden;
}

.menu-bar {
    top: 0;
    height: 64px;
}

.bar>*, .content>* {
    padding: 0 16px;
}

.content {
    margin-top: 64px;
    margin-bottom: 48px;
    height: 100%;
    width: 100%;
    display: flex;
    background: url(./assets/background-images/carro-lancha-09.jpg) no-repeat center fixed #FAF3DD;
}

.bottom-bar {
    bottom: 0;
    height: 48px;
}

/* Selectors em geral */