/*
Cores
#470077
#ED7F02
#515052
#000000
#FAF3DD
https://coolors.co/faf3dd-000000-515052-ed7f02-470077
*/

/* Divisões de conteúdo */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding-left: 16px;
    padding-right: 16px;
}

body {
    overflow-x: hidden;
}

.bar {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #470077;
    color: #EBEBEB;
    font-weight: 600;
    overflow: hidden;
}

.menu-bar {
    top: 0;
    height: 64px;
}

.bar>* {
    padding: 0 16px;
}

.content {
    position: fixed;
    top: 64px;
    bottom: 48px;
    width: 100%;
    display: flex;
    overflow-y: auto;
    background: url(./assets/background-images/carro-lancha-09.jpg) no-repeat center fixed rgba(235, 235, 235, 0.5);
}

.bottom-bar {
    bottom: 0;
    height: 48px;
}