.bar-item {
    display: inline-block;
    margin-left: 25px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-bottom: 3px solid transparent;
}

.bar-item:hover {
    color: #ED942F;
    border-bottom: 3px solid #ED942F;
    transition: border-bottom 0.4s, color 0.4s;
}
