.bg-navbar {
    background-color: #49a078;
}

.bar-item {
    display: inline-block;
    margin-left: 25px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: #FAF3DD;
    padding: 10px;
    border-bottom: 3px solid transparent;
}

.bar-item:hover {
    color: #F4E7B8;
    border-bottom: 3px solid #F69865;
    transition: border-bottom 0.3s, color 0.3s;
}
